{{- /*

figgallery partial

Generates a figrow from all the images in a folder (or other source).

Can be called directly, or via the figgallery shortcode.

Parameters (in the dict/context):
  * sort - "none" (default, as they come) or "date" or "name" or "shuffle"
  * order - "asc" or "desc", default "asc"
  * all other parameters (i.e. everything in context except sort, order, page, site) gets passed to figrow

TODO
  * get caption/title/alt from EXIF -- use options to chose which EXIF field

If from another template (rather than via shortcodes), do this: 
(note use of "figrow true" to tell figset that it's in a row)
    {{ partial "figrow_start.html" (dict  "site" .Site  "page" .Page  "justify-contents" "center"  "align-items" "top"  "size"  "small"  ...) }}
    {{ partial "figset.html"       (dict  "site" .Site  "page" .Page  "figrow" true  "gallery" "foo"  "name" "image1.jpg"  "caption" "a photo"  ...)   }}
    {{ partial "figset.html"       (dict  "site" .Site  "page" .Page  "figrow" true  "gallery" "foo"  "name" "image2.jpg"  "caption" "another photo"  ...) }}
    {{ partial "figrow_end.html"   (dict  "site" .Site  "page" .Page) }}

*/ -}}

{{ $site := .site }}
{{ $page := .page }}

{{- $sort := lower .sort | default "none" -}}
{{- $order := lower .order | default "asc" -}}

{{ $images := $page.Resources.ByType "image" }}
{{ if eq $sort "none" }}
    {{ warnf "fgp: no sort" }}
    {{- /* no sorting required */ -}}
{{ else if eq $sort "shuffle" }}
    {{ warnf "fgp: shuffling" }}
    {{ $images = shuffle $images }}
{{ else if eq $sort "name" }}
    {{ warnf "fgp: sorting %v %v" $sort $order }}
    {{ $images = sort $images ".Name" $order }}
{{ else if eq $sort "date" }}
    {{ warnf "fgp: NOT DONE sorting %v %v" $sort $order }}
    {{/* $images = sort $images ".Exif.Date" $order }}    {{/* why doesn't this work?? */}}
{{ end }}
{{ warnf "@@@ figgallery: dot=%v  images=%v" . $images }}

{{ $figrowdict := . }}
{{ $figsetdict := merge . (dict "figrow" true ) }}  
{{ warnf "@@@ figgallery: figrowdict=%v   figsetdict=%v" $figrowdict $figsetdict }}

{{/* partial "figrow_start.html" (dict  "site" $site  "page" $page  "justify-contents" "center"  "align-items" "center"  ) */}}
{{ partial "figrow_start.html" $figrowdict }}
{{/* range ($page.Resources.ByType "image") | shuffle */}}
{{ range $images }}
    {{/* partial "figset.html"       (dict  "site" $site  "page" $page  "figrow" true  "gallery" "foo"  "xname" "image1.jpg"  "image" .  "size" "small" ) */}}
    {{ partial "figset.html" (merge $figsetdict  (dict "image" . )) }}
{{ end }}{{/* range */}}
{{ partial "figrow_end.html" $figrowdict }}
