{{- /* figgallery.html -- shortcode for figgallery partial

Note that no validation is done here -- all params are sent to the partial.

*/ -}}

{{/* warnf "fg shortcode: .Params=%v" .Params */}}
{{/* Create a dict with all this shortcode's params, plus .Site and .Page */}}
{{/* .Params is something like map[align:center size:small] */}}
{{ $dict := (dict  "site" .Site  "page" .Page) }}
{{ range $k, $v := .Params }}
    {{/* warnf "param: %v - %v" $k $v */}}
    {{ $dict = merge $dict (dict $k $v) }}
{{ end }}
{{/* warnf "dict = %v" $dict */}}
{{- partial "figgallery.html" $dict -}}

